nav {
    padding: 50px;
    width: 980px;
    text-align: center;
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div {
    flex-basis: 30%;
    padding: 15px;
    box-sizing: border-box;
}

img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

img {
    max-width: 100%;
    height: auto;
    border-width: 1px;
    border-color: black;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #8a7f7f;
}

.info {
    line-height: 2px;
}

.name:hover {
    color: red;
}

.name {
    text-decoration: none;
    color: #050505;
}

.buy:hover {
    background-color: #bb5252;
}

.buy {
    text-decoration: none;
    color: #eae7e7;
    border-radius: 2px;
    background-color: #5644cc;
}
