img{
    max-width:100px;

}
div{
    width: 25%;
    height: 25%;
    float:left ;
    margin: 25px;
    padding: 50px;

    box-sizing: border-box;
    transition: 100ms;
    border-width: 1px;
    border-style: solid;
    background-color: #e9e9ef;
}

p{
    color: red;
}
div:hover{
    background-color: #b1b1bb;
}
a:hover{
    color: red;
}